<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movie Guesser</title>
</head>
<body>
    <h1>Guess Movie Year</h1>
    <form action="/formSubmitted" method="POST">
        <label for="title">Movie Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="year">Your Year Guess:</label>
        <input type="number" id="year" name="year" required>
        <button type="submit">Submit Guess</button>
    </form>
    <hr>
    <a href="/"><u>HOME</u></a>
</body>
</html>