<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Guesser</title>
</head>
<style>
    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

   
</style>
<body>
    <h1>Welcome to our guessing game. Here you can choose to guess the year of a movie! </h1>

    <p>
        The way the game works is you will input the name of a movie, input your guess for the movie's year, and then press submit. The website will then show you the actual year.
    </p>

    <ul>
        <li><a href = "/guesser">Guess the Year</a></li>
        <li><a href = "/prevGuesses">View Previous Guesses</a></li>
    </ul>
    <hr>
</body>
</html>