<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movie Guesser</title>
</head>
<body>
    <h1>Check Movie Year</h1>
    For the movie: <%- title %><br>
    You guessed the year: <%- year %><br>
    The actual movie year: <%- movieYear %><br>

    <hr>
    <a href="/"><u>HOME</u></a>
</body>
</html>